.BottomPanel-Main {
  height: 100%;
}

.BottomPanel-content {
  position: absolute;
}

.BottomPanel-content-Filter {
  width: 20%;
  float: left;
}

.BottomPanel-content-Items {
  width: 80%;
  float: left;
}