.Filter * {
  width: 100%;
  font-family: 'Heebo', 'sans-serif';
} 

.Filter-Min {
  font-family: 'Heebo', 'sans-serif';
  font-size: 12px;
  font-weight: none;
  color: grey;
}

.Filter-Max {
  font-family: 'Heebo', 'sans-serif';
  font-size: 12px;
  font-weight: none;
  color: grey;
}